**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.idea
**/.vs
**/.vscode
**/*.*proj.user
**/bin
**/obj
**/node_modules
**/Dockerfile*
**/docker-compose*
**/*.user
**/*.suo

.git
.gitignore
README.md
